
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$pri-color-1: #2B7CCF;
$pri-color-2: #435faa;
$pri-color-3: #F2F5FB;
$pri-color-4: #E8F0FE;
$pri-color-5: #d2def6;

$acc-color-1: #3ebe98;
$acc-color-2: #8de48b;
$acc-color-3: #F2B925;
$acc-color-4: #F26F25;

$neu-color-1: #f2f7f8;
$neu-color-2: #B8BFD1;

$shadow-1: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
$shadow-2: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
$shadow-3: rgba(17, 12, 46, 0.15) 0 48px 100px 0;

$font-1: 'Poppins', sans-serif;