.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  position: relative;
}

.product-grid {
  grid-column: 1 / span 1;
}

.checkout-grid {
  grid-column: 2 / span 1;
}
.order-summary-table {
  width: 100%;
  border-collapse: collapse;
}

.order-summary-table th,
.order-summary-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-summary-table th {
  background-color: #f2f2f2;
}

.order-summary-table td {
  vertical-align: top;
}

.order-summary-table td:last-child {
  text-align: right;
}

.checkout-grid p {
  margin: 8px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 300px;
}
.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.product-card h2 {
  font-size: 20px;
  margin: 0;
}

.product-card p {
  font-size: 16px;
  margin: 5px 0;
}

.product-card .product-quantity {
  display: flex;
  align-items: center;
}

.product-card .product-quantity button {
  border: none;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.product-card .product-quantity span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }
}
