/* .App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
} */

.product-grid {
  grid-column: 1 / span 1;
}

.checkout-grid {
  grid-column: 2 / span 1;
}

.order-summary-table {
  width: 70%;
  border-collapse: collapse;
  margin: auto;
}

.order-summary-table th,
.order-summary-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-summary-table th {
  background-color: #f2f2f2;
}

.order-summary-table td {
  vertical-align: top;
}

.order-summary-table td button {
  background-color: hsl(0, 0%, 100%);
  padding: 4px 10px;
  color: #541aa8;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  /* width: 50px; */
  border: none;
  margin: 10px;
}

.order-summary-table td button:hover {
  color: hsl(0, 0%, 100%);

  background-color: #541aa8;

}

.order-summary-table td:last-child,
.order-summary-table th:last-child {
  text-align: right;
}

.checkout-grid p {
  margin: 8px 0;
  font-size: 15px !important;
  font-weight: 600;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.card {
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 300px;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.product-card h2 {
  font-size: 20px;
  margin: 0;
}

.product-card p {
  font-size: 16px;
  margin: 5px 0;
}

.product-card .product-quantity {
  display: block;
  align-items: center;
}

.product-card .product-quantity button {

  background-color: #ffffff;
  padding: 10px 20px;
  color: #541aa8;
  border-radius: 5px;
  font-weight: 600;
  margin: 40px 0px 20px 0px;
  width: 100%;
  border: 1px solid #541aa8;
}

.checkout-btn-container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  text-decoration: none;
}

.checkout-btn {
  color: #ffffff;
  background-color: #541aa8;
  height: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
.check-btn{
  border: none;
  width: 200px;
  color: #ffffff;
  cursor: pointer;
  background-color: #541aa8;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.checkout-btn>a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.product-card .product-quantity button:hover {
  color: #ffffff;
  background-color: #541aa8;
  cursor: pointer;
}

.product-card .product-quantity span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 70%;
}

.card {
  width: 70%;
  height: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card > p {
  height: 70px;
  color: grey;
}
.card > h3 {
  height: 50px;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  font-weight: bold;
}

.quantity {
  color: #541aa8;
  font-weight: bold;
}

.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #eee;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.table tr:hover {
  background-color: #f2f2f2;
}

.table button {
  border: none;
  background-color: #ddd;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.table button:hover {
  background-color: #ccc;
}

.text-right {
  text-align: right;
}
.total-stn{
  display: block;
  text-align: end;
  margin: auto;
  width: 70%;
}
.total, .sub-total{
  font-size: 20px !important;
}
.discount{
  font-size: 13px !important;
  color: darkred;
}


.checkout-head{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-top: 30px;
}
.loading-icon{
  height: 50px;
  width: 50%;
}
.id-section{
  display: flex;
}
@media only screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: auto;

  }

  .order-summary-table{
    width: 90%;
  }
  .checkout-head{
    width: 90%;
  }
  .card {
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}