.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  animation: spin 1s infinite;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
