@import 'normalize';
@import 'mixins';
@import 'variables';

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
    font-family: $font-1;
    overflow-x: hidden;
    background: $pri-color-4
}

ul, li {
  list-style: none;
}

button, a {
  text-decoration: none;
  cursor: pointer;
  border: none;
}
